<section class="py-16 bg-gray-50">
  <div class="px-8 md:px-12 max-w-7xl mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 rounded-3xl overflow-hidden sm:mx-0">
      
      <!-- Fiestas privadas -->
      <div class="p-8 sm:p-10 bg-white rounded-lg shadow-lg hover:shadow-xl transition duration-300">
        <h1 class="text-2xl font-semibold text-black mb-4">Fiestas privadas</h1>
        <p class="text-sm text-gray-600">Desde cumpleaños hasta celebraciones exclusivas, personalizo la música para que tu evento sea único.</p>
      </div>

      <!-- Bodas -->
      <div class="p-8 sm:p-10 bg-white rounded-lg shadow-lg hover:shadow-xl transition duration-300">
        <h1 class="text-2xl font-semibold text-black mb-4">Bodas</h1>
        <p class="text-sm text-gray-600">Haz de tu día especial aún más inolvidable con un set de DJ adaptado a cada momento de tu boda.</p>
      </div>

      <!-- Eventos corporativos -->
      <div class="p-8 sm:p-10 bg-white rounded-lg shadow-lg hover:shadow-xl transition duration-300">
        <h1 class="text-2xl font-semibold text-black mb-4">Eventos corporativos</h1>
        <p class="text-sm text-gray-600">Crea el ambiente perfecto para tu evento de empresa con una mezcla de música que sorprenda a todos.</p>
      </div>

      <!-- Festivales y grandes eventos -->
      <div class="p-8 sm:p-10 bg-white rounded-lg shadow-lg hover:shadow-xl transition duration-300">
        <h1 class="text-2xl font-semibold text-black mb-4">Festivales y grandes eventos</h1>
        <p class="text-sm text-gray-600">La energía de un DJ profesional para darle ritmo a grandes multitudes y crear un ambiente vibrante.</p>
      </div>
      
    </div>
  </div>
</section>
