<footer class="overflow-hidden" id="footer">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div class="flex flex-col gap-4">
      <div>
        <h3 class="text-black text-base lg:text-xl">Guillermo Castro</h3>
        <p class="text-sm text-zinc-500">Guillermo Castro es un DJ Profesional de Málaga, Spain, especializado en bodas, eventos privados con más de 5 años de experiencia.</p>
      </div>
      <div>
        <h3 class="text-black text-base lg:text-xl">Redes Sociales</h3>
        <ul role="list" class="mt-4 text-xs flex flex-col gap-2 lg:flex-row text-zinc-500 uppercase">
          <li>
            <a href="https://www.instagram.com/guillecstr_/" class="hover:text-black">
              Instagram
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <nav class="flex flex-col lg:flex-row gap-8">
      <p class="text-sm text-black">
        © 2024 Guillermo Castro DJ. Todos los derechos reservados.
      </p>
    </nav>
  </div>
  
</footer>
